
.card{
background-color: rgb(68, 107, 236);
height: 350px;
width: 400px;
border-radius: 10px;
box-shadow: 0px 1px 10px 1px black ;

}

.container{
    padding: 20px;
    margin: 20px 20px 20px 20px;
}
 img{
    height:"100px";
     width:"100px"; 
     border-radius:"50%"; 
     border: 5px solid white;
    }