.App {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 25px;
  padding: 25px;
  border-style: solid;
  margin-left: 400px;
  width: 400px;
  height: 250px;
}
.Button{
  size: 20px;
  width: 65px;
}
